.divDetailBack{
    background-color: #062436; 
}

.divDetail{
    border:none;
    background-color: #1a4e6f; 
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    padding-top: 10px;
    
}

.imgDetail{
    margin-left: 600px;
    margin-top: -158px;
    border-radius: 5px;
    height: 400px;
    width: 600px;
}

.buttonDetail1{
    border: none;
    background-color: #062436; 
    border-radius: 5px;
    color: rgb(244, 238, 238);
    height: 40px;
    width: 70px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: -1130px;
}

button:hover{
    background-color: rgba(1, 4, 48, 0.5)
}


.nameDetail{
    color: rgb(238, 241, 244);
    margin-top: 20px;
    font-size: 50px;
    margin-left: 70px;
    margin-right: 700px;
}

.descriptionDetail{
    color: rgb(238, 241, 244);
    font-size: 18px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 19px;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ratingDetail{
    color: rgb(238, 241, 244);
    margin-left: 70px;
    margin-right: 700px;
    margin-top: -250px;
}

.releasedDetail{
    color: rgb(238, 241, 244);
    margin-left: 70px;
    margin-right: 700px;
}

.platformsDetail{
    color: rgb(238, 241, 244);
    margin-left: 70px;
    margin-right: 700px;
    font-size: 21px;
}

.genresDetail{
    color: rgb(238, 241, 244);
    margin-left: 70px;
    margin-right: 700px;
}

.marioDetail{
    height: 10rem;
    width: 10rem;
    margin-top: 10%;
}