.divLP {
    background-image: url('https://wallpaperaccess.com/full/1626298.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    margin-top: -22px;
    padding-bottom: 2px;
    margin-bottom: 0;
}

.Title{
    color: #c6c7c9;
    padding-top: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.Boton {
    background-color: #7b7b7e; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    
}
