.inputSearch{
    background-color: whitesmoke;
    font-size: 15px;
    border: none;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
    display: flex;
    margin-top: 25%;
    margin-left: -40%;
    margin-bottom: -24%;
}

.buttonSearch{
    font-size: 15px;
    width: 100px;
    height: 30px;
    padding-top: 6px;
    padding-left: 25px;
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom: -15%;
    margin-left: 45%;
    border: none;
    background-color: #062436; 
    color: rgb(238, 240, 241);
    display: flex;

}

.divSearch{
    margin-left: 1100px;
    margin-top: -70px;
}